a.play-now-btn {
  width: 405px;
  height: 68px;
  color: var(--text-color);
  /* border-radius: 10px; */
  padding: 5px 50px;
  font-size: 37.5px;
  background: var(--primary-background-color);
  border: 2px solid var(--secondary-color);
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  display: inline-block;
  outline: none;
  z-index: 1;
}

a.play-now-btn:hover {
  color: var(--link-hover-color);
  font-weight: bold;
  border: none;
}

a.play-now-btn::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: var(--accent-color);
  transition: all 0.3s ease;
}

a.play-now-btn:hover::after {
  top: auto;
  bottom: 0;
  height: 100%;
}

@media screen and (max-width: 500px) {
  a.play-now-btn {
    width: 206.28px !important;
    height: 48px;
    color: var(--text-color) !important;
    border-radius: 5px;
    padding: 8px 38px !important;
    font-size: 20px;
    background: var(--primary-background-color);
    border: 2px solid var(--secondary-color);
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    display: inline-block;
    outline: none;
    z-index: 1;
  }

  a.play-now-btn:hover {
    color: var(--link-hover-color) !important;
    font-weight: bold;
    border: none;
  }
}

@media screen and (max-width: 1400px) {
  a.play-now-btn {
    width: 300px;
    height: 50px;
    color: var(--text-color) !important;
    border-radius: 5px;
    padding: 7px 80px;
    font-size: 20px;
    background: var(--primary-background-color);
    border: 2px solid var(--secondary-color);
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    display: inline-block;
    outline: none;
    z-index: 1;
  }

  a.play-now-btn:hover {
    color: var(--link-hover-color) !important;
    font-weight: bold;
    border: none;
  }
}

@media screen and (max-width: 768px) {
  a.play-now-btn {
    width: 300px;
    height: 50px;
    color: var(--text-color) !important;
    border-radius: 5px;
    padding: 7px 80px;
    font-size: 20px;
    background: var(--primary-background-color);
    border: 2px solid var(--secondary-color);
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    display: inline-block;
    outline: none;
    z-index: 1;
  }

  a.play-now-btn:hover {
    color: var(--link-hover-color) !important;
    font-weight: bold;
    border: none;
  }
}
