a.episode.active {
  color: var(--accent-color) !important;
  background: #333333;
}

a.episode {
  color: var(--text-color);
  transition: all ease 0.25s;
  height: 60px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  text-decoration: underline;
}

a.episode:hover {
  background: #262626;
  color: var(--accent-color);
}

@media screen and (max-width: 500px) {
  a.episode {
    height: 45px;
  }
}

@media screen and (max-width: 768px) {
  a.episode {
    height: 50px;
  }
}
